aiofiles==25.1.0
aiohttp==3.13.3
beautifulsoup4==4.14.3
bleach==6.3.0
cryptography==46.0.5
email_validator==2.3.0
firebase_admin==7.1.0
flask==3.1.2
flask_Cors==6.0.2
flask_Limiter==4.1.1
flask_session==0.8.0
flask_talisman==1.1.0
geopy==2.4.1
infisicalsdk==1.0.15
jinja2==3.1.6
loguru==0.7.3
mysql-connector-python>=9.5.0
pronotepy==2.14.5
python-dotenv==1.2.1
pytz==2025.2
redis==5.0.8
requests==2.32.5
resend==2.21.0
sentry_sdk==2.52.0
werkzeug==3.1.5
gunicorn==25.0.2