aiofiles==25.1.0
aiohttp==3.13.3
beautifulsoup4==4.11.2
bleach==6.2.0
cryptography==38.0.4
email_validator==2.2.0
firebase_admin==6.7.0
flask==2.2.2
flask_Cors==5.0.0
flask_Limiter==3.8.0
flask_session==0.8.0
flask_talisman==1.1.0
geopy==2.4.1
infisicalsdk==1.0.11
jinja2==3.1.2
loguru==0.7.2
pronotepy==2.14.5
python-dotenv==1.2.1
pytz==2022.7.1
redis==5.0.8
requests==2.32.5
resend==2.10.0
sentry_sdk==2.32.0
timezonefinder==8.0.0
werkzeug==3.1.5
gunicorn==23.0.0